Source: havis-depot
Maintainer: Menucha Team <info@menucha.de>
Build-Depends: debhelper, dh-exec, default-jdk-headless:amd64, ant:all, ivy:all, libjsch-java:all
 
Package: havis-depot
Architecture: any
Depends: busybox
Provides: httpd
Recommends: mica-rpc
Description: Ha-VIS Depot
